COMMAND_CENTER_HOST=127.0.0.1
COMMAND_CENTER_PORT=4337
PROJECT_DASHBOARD_URL=http://127.0.0.1:4317
PROJECT_DASHBOARD_COOKIE_NAME=dashboard_session
PROJECT_DASHBOARD_TIMEOUT_MS=2500
COMMAND_CENTER_DISPLAY_HINT=CORSAIR|XENEON